.fonts {
    font-family: Arial, Helvetica, sans-serif;
}

.title-first {
    cursor: pointer;
    text-decoration: solid;
}

.title-second {
    font-style: italic;
}

.description {
    color: dimgray;
    font-size: 8px;
}

.style-title {
    font-family: Arial, Helvetica, sans-serif;
}

.underline {
    text-decoration: underline
}